<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <!--<logger name="org.springframework.web" level="info"/>-->

    <logger name="org.springframework.data.neo4j">
        <level value="debug" />
    </logger>

    <!--<logger name="org.springframework.data.neo4j.rest.SpringRestCypherQueryEngine">-->
    <!--<level value="debug" />-->
    <!--</logger>-->

    <logger name="org.springframework.data">
        <level value="debug" />
    </logger>

    <!--<logger name="org.springframework.persistence">-->
    <!--<level value="debug" />-->
    <!--</logger>-->


</configuration>